@use "breakpoints" as breakpoints;
@use "fonts";
@use "cah-colors" as color;
@use "mixins" as *;

.spacer {
    flex: 1 1 auto;
}

mat-toolbar {
    @include header-style;
}

.pharmacy-info {
    background-color: color.$white-color;
    display: contents;

    .label {
        text-align: right;
        @include fonts.font-style("Open Sans", 14px, 400, color.$black-color, 22px);
    }

    .data {
        @include fonts.font-style("Open Sans", 14px, 600, color.$pure-blue-color, 22px);
        text-decoration-line: underline;
        text-decoration-style: solid;
        text-decoration-skip-ink: auto;
        text-decoration-thickness: auto;
        text-underline-offset: auto;
        text-underline-position: from-font;
    }
}

.itm {
    .brand-logo-wrapper {
        display: contents;
    }
}
.page-title {
    @include fonts.font-style("Open Sans", 32px, 500, var(--color-gray-40), 22px, 0px);
    margin-left: 24px;
}

.username-div {
    display: contents;

    .username {
        @include fonts.font-style("Open Sans", 14px, 400, color.$cardinal-black, 22px);
        text-align: right;
        margin-right: 4px;
    }

    .circle-btn {
        width: 44.62px;
        height: 44px;
        border-radius: 50%;
        background-color: color.$cardinal-blue;
        @include fonts.font-style("Open Sans", 18px, 600, color.$Gray-90, 44px);
        text-align: center;
    }
}

.logout-text {
    @include fonts.font-style("Open Sans", 14px, 400, color.$cardinal-black, 22px);
}

.line {
    padding: 0px 0.25px 0px 0.25px;
    background: color.$warm-gray-7;
    margin: 1px 5px;
    width: 1.014px;
    height: 29.73px;
}

.desktop-header-bar {
    display: flex;
    height: 72px !important;

    @include breakpoints.respond-to(sm) {
        display: none;
    }

    @include breakpoints.respond-to(md) {
        .page-title {
            @include fonts.font-style("Open Sans", 28px, 500, var(--color-gray-40), 20px, 0px);
        }

        .pharmacy-info {
            .label {
                @include fonts.font-style("Open Sans", 14px, 400, color.$cardinal-black, 22px, 0px);
                text-align: right;
                vertical-align: bottom;
            }

            .data {
                @include fonts.font-style("Open Sans", 14px, 600, color.$pure-blue-color, 22px, 0px);
                text-align: right;
                vertical-align: bottom;
                text-decoration: underline;
                text-decoration-style: solid;
            }
        }

        .username-div {
            @include fonts.font-style("Open Sans", 14px, 400, color.$cardinal-black, 22px, 0px);
            text-align: right;
        }

        .logout-text {
            @include fonts.font-style("Open Sans", 14px, 400, color.$cardinal-black, 22px, 0px);
        }
    }

    @include breakpoints.respond-to(lg) {
        .page-title {
            @include fonts.font-style("Open Sans", 28px, 500, var(--color-gray-40), 20px, 0px);
        }

        .pharmacy-info {
            .label {
                @include fonts.font-style("Open Sans", 14px, 400, color.$cardinal-black, 22px, 0px);
                text-align: right;
                vertical-align: bottom;
            }

            .data {
                @include fonts.font-style("Open Sans", 14px, 600, color.$pure-blue-color, 22px, 0px);
                text-align: right;
                vertical-align: bottom;
                text-decoration: underline;
                text-decoration-style: solid;
            }
        }

        .username-div {
            @include fonts.font-style("Open Sans", 14px, 400, color.$cardinal-black, 22px, 0px);
            text-align: right;
        }

        .logout-text {
            @include fonts.font-style("Open Sans", 14px, 400, inherit, 22px, 0px);
        }
    }
}

.mobile-header-bar {
    display: none;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 0;
    padding-right: 0;
    height: 58px;
    .brand-logo-wrapper {
        display: contents;
    }
    .page-title {
        @include fonts.font-style("Open Sans", 24px, 400, var(--color-gray-40), 100%, 0%);
        vertical-align: middle;
        margin-left: 8px;
    }

    .spacer {
        flex: 1 1 auto;
    }

    @include breakpoints.respond-to(sm) {
        display: flex;
    }
}

header {
    @include header-style;
    @include breakpoints.respond-to(md) {
        min-width: 1024px;
    }
}

.brand-name {
    @include header-smp;
    font-family: Open Sans;
    font-weight: 400;
    font-style: Regular;
    line-height: 28px;
    letter-spacing: 0px;
}
