@use "breakpoints" as breakpoints;
@use "fonts";
@use "cah-colors" as color;

.task-dashboard {
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include fonts.font-style("Open Sans", 14px, 400, color.$black-color, 100%, 0%);
    text-align: center;
    color: color.$black-color;
    background-color: color.$white-color;
    padding: 30px;
    border: 1px solid color.$Gray-60;
    border-radius: 6px;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    min-height: 485px;
    
    @include breakpoints.respond-to(sm) {
      min-height: 400px;
    }
    @include breakpoints.respond-to(md) {
      min-height: 350px;
    }

    p {
      margin: 0;
      color: color.$black-color;
    }
  }



