<div class="app-container">
  <header class="header">
    <img class="logo" [src]="'assets/themes/' + brand + '/logo.png'" alt="Logo" />
  </header>
  <main>
    <h1>Welcome to {{ brand | uppercase }}</h1>
    <!-- <button mat-raised-button color="primary">Primary Button</button> -->
  </main>
</div>


<!-- <mat-toolbar color="primary">
  <span>Ordering & Tracking</span>
  <span class="spacer"></span>
  <button mat-button *ngIf="!isLoginPage">Sam Ford</button>
  <button mat-icon-button (click)="navigateToLogin()" *ngIf="!isLoginPage">
    <mat-icon>logout</mat-icon>
  </button>
  <span *ngIf="!isLoginPage">SF</span>
</mat-toolbar>

<div class="pharmacy-info">
  Pharmacy: CAN | Columbus, OH
</div> -->

<router-outlet></router-outlet>
